%main.container.general-main-wrap
  .text-center
    %h1.mb-30 Forgot your password?
    %p.general-password-text We'll email you instructions on how to reset it
  %form.general-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .form-group.mb-25
        = f.email_field :email, placeholder: "Enter your email", autofocus: true, class: 'form-control'
        %br/
        = f.submit "Email Instructions", class: 'btn-default center-block mb-20'
      .text-center
        %a.in-gold-500.mb-20{href: new_user_session_path} Cancel
